.texto-menor{
    font-size: 13px;
}

.divs-facilidades{
    width: 325px;
}

.cor-botao{
    background-color: #9353FF;
    color:white;
}

.cor-icone{
    color: #DAFF01;
}

.cor-texto{
    color: white;
}